<h1>Messages#index</h1>
<p><%= @mag %></p>
<table>
  <form method="post" action="/messages/add">
    <tr>
      <th>Name</th>
    <td><input type="text" name="name"></td></tr>
    <tr>
      <th>Enail</th>
    <td><input type="text" name="email"></td></tr>
    <tr>
      <th>Context</th>
    <td><input type="text" name="context"></td></tr>
    <tr>
      <th></th><td><input type="submit"></td></tr>
    </tr>

</table>
