<h1>Messages#index</h1>
<p><%= @mag %></p>
<pre>
<table>
    <tr>
      <tr>ID</tr><tr>name</tr>
    </tr>
    <% @data.each do |obj| %>
    <tr>
      <td><%= obj.id %></td>
      <td><a href="/messages/<%= obj.id %>"><%= obj.name %></a></td>


    </tr>
    <% end %>




</table>
</pre>
